<button [routerLink]="['/new']">Add an Author</button>
<h3>These are our Authors: </h3>

<table class="table table-hover" >
    <thead>
      <tr>
        <th>Author</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors">
        <td>{{author.name}}</td>
        <td><button [routerLink]="['/edit', author._id]">Edit</button> | <button (click)="destroy(author)">Delete</button></td>
      </tr>
    </tbody>
  </table>
<router-outlet></router-outlet>
